* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.container {
  display: flex;
  justify-content: center;
}

form {
  width: 1000px;
  height: 250px;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.section {
  display: flex;
  flex: 1;
}

.section fieldset {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

#contact-fieldset {
  padding-top: 20px;
  padding-bottom: 80px;
}

.fa-1,
.fa-2,
.fa-3 {
  display: flex;
  justify-content: space-between;
  margin: 0 15px 0 15px;
}

.drive-experience-years > select,
.drive-experience-years > select option,
.brand-section > select option,
.model-section > select option {
  font-size: 1.3rem;
}

.used-checkbox-container {
  margin-left: 15px;
}

.used-checkbox-container > label {
  margin-right: 30px;
}

.model-section > select,
.brand-section > select {
  width: 130px;
  font-size: 1.3rem;
}

.price-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
}

.range-wrapper {
  display: flex;
  flex-direction: column;
}

.price-ticks {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  margin-top: 4px;
}

#price {
  width: 200px;
}

#address-textarea {
  width: 19.9rem;
}

legend {
  font-size: 2rem;
}

label,
input,
p {
  font-size: 1.6rem;
}

#birthday {
  width: 19.9rem;
}

/* ==== Buttons ==== */

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttons button {
  width: 70px;
  height: 30px;
  font-size: 1.6rem;
  margin-top: 15px;
}
